@import '~antd/dist/antd.css';


.App {
  background-color: #fff;
}

.Sider{
  text-align: center;
  background-color: rgb(190, 218, 255);
  padding: 5px;
}

.pad20{
  padding: 20px;
}

.settings-group{
  padding: 10px 20px;
}

.settings-group>div{
  margin-top: 10px;
}

.settings-group-inline{
  display: inline-block;
}

.settings-group-inline>div{
  display: inline-block;
  margin: 0 10px;
}

.square{
  fill: rgb(0, 0, 0, 1);
  stroke: none;
  stroke-width: 0%;
}

.square.start{
  fill: rgb(0, 255, 0);
}

.square.end{
  fill: rgb(255, 0, 0);
}

.square.obstacle{
  fill: rgb(180, 33, 33);
  stroke: rgb(0, 0, 0);
  stroke-width: 0.2%;
}

.square.visited{
  fill: rgb(19, 58, 117);
  transition: fill 0.5s ease;
}

.square.queued{
  fill: rgb(148, 55, 55);
}

.square.path{
  fill: rgb(28, 150, 48);
  transition: fill 0.5s ease;
}


#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}